<a href="https://colab.research.google.com/github/adityapwr/machine_learning/blob/main/Importing%2C_Summarising_and_Visualising_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data')

In [3]:
data.info() #type of features

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8123 entries, 0 to 8122
Data columns (total 23 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   p       8123 non-null   object
 1   x       8123 non-null   object
 2   s       8123 non-null   object
 3   n       8123 non-null   object
 4   t       8123 non-null   object
 5   p.1     8123 non-null   object
 6   f       8123 non-null   object
 7   c       8123 non-null   object
 8   n.1     8123 non-null   object
 9   k       8123 non-null   object
 10  e       8123 non-null   object
 11  e.1     8123 non-null   object
 12  s.1     8123 non-null   object
 13  s.2     8123 non-null   object
 14  w       8123 non-null   object
 15  w.1     8123 non-null   object
 16  p.2     8123 non-null   object
 17  w.2     8123 non-null   object
 18  o       8123 non-null   object
 19  p.3     8123 non-null   object
 20  k.1     8123 non-null   object
 21  s.3     8123 non-null   object
 22  u       8123 non-null   object
dtypes: object(23)
memory usage: 1.4+ MB

In [7]:
data.columns = ['edibility', 'x', 's', 'n', 't', 'odor', 'f', 'c', 'n.1', 'k', 'e', 'e.1', 's.1',
       's.2', 'w', 'w.1', 'p.2', 'w.2', 'o', 'p.3', 'k.1', 's.3', 'u']

In [8]:
data

,edibility,x,s,n,t,odor,f,c,n.1,k,...,s.2,w,w.1,p.2,w.2,o,p.3,k.1,s.3,u
0,e,x,s,y,t,a,f,c,b,k,...,s,w,w,p,w,o,p,n,n,g
1,e,b,s,w,t,l,f,c,b,n,...,s,w,w,p,w,o,p,n,n,m
2,p,x,y,w,t,p,f,c,n,n,...,s,w,w,p,w,o,p,k,s,u
3,e,x,s,g,f,n,f,w,b,k,...,s,w,w,p,w,o,e,n,a,g
4,e,x,y,y,t,a,f,c,b,n,...,s,w,w,p,w,o,p,k,n,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8118,e,k,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,b,c,l
8119,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,n,o,p,b,v,l
8120,e,f,s,n,f,n,a,c,b,n,...,s,o,o,p,o,o,p,b,c,l
8121,p,k,y,n,f,y,f,c,n,b,...,k,w,w,p,w,o,e,w,v,l
8122,e,x,s,n,f,n,a,c,b,y,...,s,o,o,p,o,o,p,o,c,l

In [9]:
data['edibility'] = data['edibility'].replace({'e': 'edible', 'p': 'poisonous'})

In [16]:
data['odor'] = data['odor'].replace({'a': 'almond',
                                     'l': 'anise',
                                     'c': 'creosote',
                                     'y': 'fishy',
                                     'f': 'foul',
                                     'm': 'musty',
                                     'n': 'none',
                                     'p': 'pungent',
                                     's': 'spicy'
                                    })

In [24]:
crosstab_odor_edibility = pd.crosstab(data['edibility'], data['odor'])

In [43]:
crosstab_odor_edibility.columns[crosstab_odor_edibility.loc['poisonous', crosstab_odor_edibility.columns] > 0] #mushroom to be avoided while picking

Index(['creosote', 'fishy', 'foul', 'musty', 'none', 'pungent', 'spicy'], dtype='object', name='odor')

In [45]:
crosstab_odor_edibility['none']['edible']/(crosstab_odor_edibility['none']['edible']+crosstab_odor_edibility['none']['poisonous'])

0.9659863945578231

---

In [49]:
nutri = pd.read_excel('http://www.biostatisticien.eu/springeR/nutrition_elderly.xls')

In [53]:
nutri = nutri.replace({
    'gender': {
        1: 'Male',
        2: 'Female'
    },
    'situation':{
        1: 'Single',
        2: 'Living with spouse',
        3: 'Living with Family',
        4: 'Living with someone else'
    },
    'meat': {
        0: 'Never',
        1: 'Less than once a week',
        2: 'Once a week',
        3: '2-3 times a week',
        4: '4-6 times a week',
        5: 'Everyday'
    },
    'fat': {
        1: 'Butter',
        2: 'Margarine',
        3: 'Peanut oil',
        4: 'Sunflower oil',
        5: 'Olive oil',
        6: 'Mix of vegetable oils',
        7: 'Colza oil',
        8: 'Duck or goose fat'
    }
})

In [54]:
nutri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 226 entries, 0 to 225
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            226 non-null    object
 1   situation         226 non-null    object
 2   tea               226 non-null    int64
 3   coffee            226 non-null    int64
 4   height            226 non-null    int64
 5   weight            226 non-null    int64
 6   age               226 non-null    int64
 7   meat              226 non-null    object
 8   fish              226 non-null    int64
 9   raw_fruit         226 non-null    int64
 10  cooked_fruit_veg  226 non-null    int64
 11  chocol            226 non-null    int64
 12  fat               226 non-null    object
dtypes: int64(9), object(4)
memory usage: 23.1+ KB

In [55]:
nutri.to_csv('nutrition_elderly.csv')

---

In [59]:
student_data = [[1, 75, 85], [2, 30, 50], [3, 100, 100], [4, 50, 52], [5, 60, 65]]
students = pd.DataFrame(student_data, columns=['Student', 'Before', 'After'])

In [62]:
students = pd.melt(students, id_vars=['Student'], value_vars=['Before', 'After'])
students.columns = ['Student', 'Time', 'Score']
students

   Student    Time  Score
0        1  Before     75
1        2  Before     30
2        3  Before    100
3        4  Before     50
4        5  Before     60
5        1   After     85
6        2   After     50
7        3   After    100
8        4   After     52
9        5   After     65

---